body {
  background-color: #35292d;
  font-family: "Raleway", sans-serif;
  color: white;
}
nav {
  background-color: slategrey;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  z-index: 1;
}
nav ul li {
  float: right;
  margin-right: 50px;
  list-style-type: none;
  text-align: center;
}
#brand {
  float: left;
}
.nav-link {
  color: #35292d;
  text-decoration: none;
  font-family: "Acme", sans-serif;
}
.nav-link:hover{
  color: white;
  font-weight: bold;
}
#brand .nav-link {
  color: white;
  font-size: 14pt;
}
#brand .nav-link:hover {
  color: #35292d;
}
h1 {
  font-size: 60pt;
  font-family: "Acme", sans-serif;
}
#home {
  margin-top: 50px;
  position: relative;
  left: -8px;
  width: 100vw;
  height: 30vh;
  padding-top: 1em;
  background: url('photo-1517867972250-8e5166b19c0c.jpeg') center 75% no-repeat fixed;
  background size: cover;
}
.header-tag {
  text-align: center;
  color: darkred;
  text-shadow: 2px 2px 2px black;
}
h3.header-tag {
  margin-top: 15px;
  font-size: 18pt;
}
h2 {
  font-family: 'Acme', sans-serif;
  color: slategray;

}
.main {
  text-align: center;

}
#about {
  margin-top: 50px;
  display: inline-block;
}
#about-picture {
  width: 30vw;
  float: left;

}
#profile-pic {
  height: 500px;
  width: 300px;
  object-fit: cover;
  border-radius: 25%;
  box-shadow: 2px 2px 2px black;
}
#about-content {
  width: 40vw;
  float: right;
  
}